<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
    <%= Spree.t(:theme_settings) %>
<% end %>

<%= form_tag admin_cash_on_delivery_configs_path, :method => :put do %>
    <div id="preferences" data-hook>

      <fieldset class="general no-border-top">

        <fieldset class="security no-border-bottom">
          <legend align="center"><%= Spree.t(:cash_on_delivery_config)%></legend>
              <div class="field">
                <%= label_tag(:cash_on_delivery_charge, 'Cash on delivery charge: ') + tag(:br) %>

                <%= text_field_tag(:cash_on_delivery_charge, @charge, onkeypress: 'return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)') %>
              </div>

        </fieldset>

        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'refresh' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), edit_admin_general_settings_url, :class => 'button' %>
        </div>

      </fieldset>

    </div>


<% end %>

<script>
    $('#store_default_currency').select2();
    $('#currency').select2();
</script>
